@import './_app';
@import './_todo';
@import './_todolist';
@import './_todoform';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 5px;
    width: 100%;
    background-color: #4f4f4f;
    color: white;
    overflow-x: hidden;
}